<ol class="items-list">
    <li class="item flexrow item-header" style="background-color: lightblue;">
      <div class="item-name">武器</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i>武器</a>
      </div>
    </li>
{{#each weapons as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name rollable flexrow">
        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
        <h4>{{item.name}}</h4>
      </div>  
        <div>
          <b>
            基础加值：
          </b>
          {{item.data.hit.bab}}
          <b>
            命中：
          </b>
          {{item.data.hit.ab}}
        </div>
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
{{/each}}
<li class="item flexrow item-header" style="background-color: lightblue;">
  <div class="item-name">防具</div>
  <div class="item-controls">
    <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i>防具</a>
  </div>
</li>
{{#each armors as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name rollable flexrow">
        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
        <h4>{{item.name}}</h4>
      </div>  
        
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
{{/each}}
<li class="item flexrow item-header" style="background-color: lightblue;">
  <div class="item-name">穿戴物</div>
  <div class="item-controls">
    <a class="item-control item-create" title="Create item" data-type="equipment"><i class="fas fa-plus"></i>穿戴品</a>
  </div>
</li>
{{#each equipments as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name rollable flexrow">
        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
        <h4>{{item.name}}</h4>
      </div>  
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
{{/each}}
<li class="item flexrow item-header" style="background-color: lightblue;">
  <div class="item-name">其他</div>
  <div class="item-controls">
    <a class="item-control item-create" title="Create item" data-type="gear"><i class="fas fa-plus"></i>物品</a>
  </div>
</li>
{{#each gears as |item id|}}
    <li class="item flexrow" data-item-id="{{item._id}}">
      <div class="item-name rollable flexrow">
        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
        <h4>{{item.name}}</h4>
      </div>  
        <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
    </li>
{{/each}}
</ol>