<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    </div>
  </header>
  <div>
    <section>
      <div class="resource flexrow">
        <div class="resource flexrow">
          <label for="data.attributes.hp.value" class="resource-label">生命值</label>
          <input type="text" name="data.attributes.hp.value" value="{{data.attributes.hp.value}}" data-dtype="Number"/>
          <span> / {{data.attributes.hp.max}}</span>
        </div>
        <div class="resource flexrow">
          <label for="data.attributes.balance.value" class="resource-label">耐性</label>
          <input type="text" name="data.attributes.balance.value" value="{{data.attributes.balance.value}}" data-dtype="Number"/>
          <span> / {{data.attributes.balance.max}}</span>
        </div>
        <div class="initiative form-group">
          <label>先攻</label>
          <span class="form-fields">
            <select name="data.others.init.id">
              {{#select data.others.init.id}}
              {{#each skills as |item key|}}
                <option value="{{item._id}}">{{item.name}}</option>
              {{/each}}
              {{/select}}
            </select>
          </span>
          <input type="text" name="data.others.init.bonus" value="{{data.others.init.bonus}}" data-dtype="Number"/>
      </div>
      </div>
    </section>
    <section>
      <div class="ability flexrow flex-group-center">
        {{#each data.abilities as |ability key|}}
        
          <label for="data.abilities.{{key}}.value" class="resource-label">{{key}}</label>
          <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number" style="width:50px;"/>
          <span class="ability-mod rollable" data-roll="d20+@{{key}}.mod" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
      
        {{/each}}
      </div>
    </section>
  </div>
  
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">描述</a>
        <a class="item" data-tab="features">等级</a>
        <a class="item" data-tab="packages">能力组</a>
        <a class="item" data-tab="items">背包</a>
        <a class="item" data-tab="abilities">能力</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab biography" data-group="primary" data-tab="description">
          {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
        </div>

        <div class="tab features" data-group="primary" data-tab="features">
          {{> "systems/univare/templates/actor/partial/features.html"}}
        </div>

        <div class="tab packages" data-group="primary" data-tab="packages">
          {{> "systems/univare/templates/actor/partial/packages.html"}}
        </div>

        <div class="tab items" data-group="primary" data-tab="items">
          {{> "systems/univare/templates/actor/partial/items.html"}}
        </div>

        <div class="tab abilities" data-group="primary" data-tab="abilities">
          {{> "systems/univare/templates/actor/partial/abilities.html"}}
        </div>
    </section>
</form>

